{% extends "base.html" %} {% load static %}
{% block content %}
<h1 class="fs-3">Search Results for: "{{ query }}"</h1>

<div class="container">
  <div class="row">
    <div class="col-12 mt-2">
      <div class="row">
        {% for recipe in recipes %}
        <div class="col-lg-3">
          <div class="card mb-4">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top img-fluid-w100" style="height: 250px; object-fit: cover"
              src="{% static 'images/default.jpg' %}" alt="placeholder image" />
            {% else %}
            <img class="card-img-top img-fluid-w100" style="height: 250px; object-fit: cover"
              src=" {{ recipe.featured_image.url }}" alt="{{ recipe.title }}" />
            {% endif %}
            <div class="card-body pt-3">
              <div class="title-container mb-2" style="height:80px">
              <h2 class="card-title fs-5">{{ recipe.title }}</h2>
              </div>
              <p class="author">Author: {{ recipe.author }}</p>
              <hr />
              <p class="card-text text-muted h6">{{ recipe.created_on}}</p>
              <a href="{% url 'recipe:recipe_detail' recipe.slug %}" class="stretched-link"></a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
      </div>
      <div class="row">{% endif %}
        {% empty %}
        <p>No recipes found.</p>
        {% endfor %}
      </div>
    </div>
    {% endblock content %}