<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Views Part 1</title>
  </head>

  <body>
    <body>
      <h1>Recipes list</h1>
      {% for recipe in object_list %}
      <h2>{{recipe.title}}</h2>
      <p>Author: {{recipe.author}}</p>
      {% endfor %}
    </body>
    <p>Add a recipe here:</p>
    <a href="add_recipe/">
      <button>Click me</button>
    </a>
  </body>
</html>
