body {
    background-color: #e0cda5;
    padding-top: 2%;
}

.navbar-brand {
    font-weight:800;
    font-size: 2rem;
    color: #842b2f;
}

h3 {
    padding-top: 5%;
}

.custom-content {
    background-color: #2b3480;
    color: white;
}

.btn {
    background-color: #c67e10;
    border:0;
}

.author {
    margin-bottom: 0;
}

.card-title {
    font-size: 1.2rem;
}

.nav-link.active {
    font-weight: bold;  /* Makes the link bold */
}

.logout {
    border:0;
    color: rgb(13, 110, 253);
    text-decoration:underline;
}