{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Login</title>
</head>
<body>
    <h1>Member Login</h1>
    {% block message %}
    <h3>Please sign in and start sharing!</h3>
    <p>Log in here to share recipes on our site.</p>
    <form action="/member/login/" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="button" class="btn btn-primary">Login</button>
    </form>
    {% endblock %}
</body>
</html>