{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <div class="row">
    <div class="col-4 text-center">
      {% if "placeholder" in about.about_image.url %}
      <img
        src="{% static 'images/default.jpg' %}"
        class="img-fluid scale"
        style="max-width: 100%; height: auto"
        alt="placeholder image"
        aria-labelledby="about-image-description"
      />
      {% else %}
      <img
        src="{{ about.about_image.url }}"
        class="img-fluid scale"
        style="max-width: 100%; height: auto"
        alt="placeholder image"
        aria-labelledby="about-image-description"
      />
      {% endif %}
      <!-- <img src="{% static 'images/nobody.jpg' %}" width="75%" /> -->
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2 id="about-title">{{ about.title }}</h2>
      <!-- Content goes directly underneath this -->
      <div id="about-content" aria-describedby="about-title">
        {{ about.content | safe }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}
